
html {
  cursor: url('favicon/cursor.png'), auto;
  font: 400 1em/1.33 'Inter', sans-serif;;
  background-color: #211f21;
  
}

.external-link {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  color: rgb(35, 10, 10)!important;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease; 
  z-index: 1;
}

.external-link:hover {
  opacity: 0.55; 
  font-size: 1.05em; 
  
}

body {
  cursor: url('favicon/cursor.png'), auto;
  font-weight: 300;
  padding-bottom: 3em;
   
}

.profile {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

.profile video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



@media (min-width: 55em) {
  .profile {
    width: 40%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: auto;
  }
}
@media (min-width: 80em) {
  .profile {
    width: 50%;
  }
}

article {
  color: #ccc;
}
@media (min-width: 55em) {
  article {
    margin-left: 40%;
    position: relative;
    max-width: 66em;
  }
}
@media (min-width: 80em) {
  article {
    margin-left: 50%;
  }
}

header {
  text-align: center;
  padding: 0 2em;
}

h1 {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  transition: color 0.8s ease;
}

h1:hover {
  color: darkred; 
  text-shadow: 0 0 10px darkred, 0 0 20px darkred, 0 0 30px darkred; 
  animation: glisten 1.5s infinite; 
}

@keyframes glisten {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(1.01) scaleY(1.01);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}


.nth-line-1,
.nth-line-2 {
  line-height: 1;
}

.nth-line-1 {
  font-size: 19vw;
}
@media (min-width: 55em) {
  .nth-line-1 {
    font-size: 10.5vw;
  }
}

.nth-line-2 {
  font-size: 14.5vw;
}
@media (min-width: 55em) {
  .nth-line-2 {
    font-size: 8vw;
  }
}

.lead {
  color: #ccc;
  font-size: 1.5625em;
  max-width: 20em;
  margin: 0 auto;
  text-align: center;
}

hr {
  border: none;
  
  height: 20px;
  margin: 5em 0;
}

section {
  -moz-column-width: 14em;
       column-width: 14em;
  -moz-column-gap: 1.33em;
       column-gap: 1.33em;
  padding: 0 1em;
}
@media (min-width: 55em) {
  section {
    padding: 0 3em;
  }
}

section p:first-of-type:first-letter {
  color: #ffffff;
  float: left;
  font-size: 7em;
  line-height: 1;
  margin-top: -0.2em;
  margin-bottom: -0.2em;
  margin-right: 0.1em;
}

img {
  max-width: 100%;
  margin-bottom: 1.33em;
  vertical-align: middle;
}

blockquote {
  border-left: 0.2em solid #ffffff;
  font-size: 1.953125em;
  padding: 0.1em 0.5em;
  line-height: 1.5;
  margin-left: 0;
  margin-right: 0;
  quotes: "“" "”" "‘" "’";
}
blockquote::before, blockquote::after {
  color: #ffffff;
  font-size: 1.25em;
  line-height: 0;
}
blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
@media (min-width: 55em) {
  blockquote {
    position: absolute;
    right: 100%;
    top: 80vh;
    width: 9em;
    background: #191919;
  }
}